<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <%= link_to "ABOUT", "#about", class: "nav-link" %>
      </li>
      <li class="nav-item active ">
        <%= link_to "SERVICES", "#services", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "#", id: 'logo', class: "navbar-brand nav-link" do %>
          <%= image_tag "arrow-logo-white.png", id: 'logo-image' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "CLIENTS", "#clients", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "CONTACT US", "#contact", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
